---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { Image } from "astro:assets";
import { header, description, joinURL, coach, records } from "../../config/team";

import heroImage from "../../images/team/hero.webp";
import coachImage from "../../images/team/coach.webp";
import coachHeadshot from "../../images/team/coach-headshot.webp";
---

<DefaultLayout title="Stanford Running Club | The Team">
    <section class="max-w-5xl mx-auto grid grid-cols-1 gap-8 mt-20 p-4">
        <div class="max-w-3xl mx-auto">
            <Image src={heroImage} alt="Stanford Running Club Team" class="w-full h-full object-cover rounded" />
        </div>
        <h2 class="text-5xl lg:text-7xl font-black drop-shadow-xl text-center">{header}</h2>
        <div class="text-neutral-500 flex items-center justify-center gap-8 text-center max-w-xl mx-auto">
            {description}
        </div>
        <a href={joinURL} class="w-fit mx-auto px-8 py-4 bg-primary-500 text-white text-xl font-semibold rounded hover:bg-primary-600 transition-colors">
            Join the Team
        </a>
    </section>
    <section class="grid grid-cols-1 lg:grid-cols-2 max-w-7xl mx-auto my-20 p-4">
        <Image src={coachImage} alt="Stanford Running Club Coach" class="hidden md:block w-full h-full object-cover rounded" />
        <div class="flex flex-col justify-center items-center p-8">
            <Image src={coachHeadshot} alt="Stanford Running Club Coach" class="w-32 h-32 object-cover rounded-full" />
            <div class="mt-4 text-xs font-bold px-4 py-1 bg-black rounded text-white mb-1">COACH</div>
            <h3 class="text-3xl font-black text-center">{coach.name}</h3>
            <p class="text-neutral-500 text-center mt-4 text-sm">{coach.bio}</p>
        </div>
    </section>

    <section class="max-w-5xl mx-auto grid grid-cols-1 gap-8 p-4">
        <h2 class="text-5xl lg:text-7xl font-black drop-shadow-xl text-center mt-20">Records</h2>
        <div class="flex flex-col gap-4">
            <h3 class="text-3xl font-black">Track</h3>
            {records.track.map((distance) => (
                <div class="flex flex-col border rounded p-4 gap-4">
                    <h4 class="text-xl font-black">{distance.name}</h4>
                    {distance.records.map((record) => (
                        <div class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                            <p class="w-40 font-bold">{record.name}</p>
                            <p class="w-20">{record.time}</p>
                            <p class="w-32">{record.date}</p>
                            <p>{record.location}</p>
                        </div>
                    ))}
                </div>
            ))}

            <h3 class="text-3xl font-black">Cross Country</h3>
            {records.xc.map((distance) => (
                <div class="flex flex-col border rounded p-4 gap-4">
                    <h4 class="text-xl font-black">{distance.name}</h4>
                    {distance.records.map((record) => (
                        <div class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                            <p class="w-40 font-bold">{record.name}</p>
                            <p class="w-32">{record.time}</p>
                            <p class="w-32">{record.date}</p>
                            <p>{record.location}</p>
                        </div>
                    ))}
                </div>
            ))}

            <h3 class="text-3xl font-black">Road</h3>
            {records.road.map((distance) => (
                <div class="flex flex-col border rounded p-4 gap-4">
                    <h4 class="text-xl font-black">{distance.name}</h4>
                    {distance.records.map((record) => (
                        <div class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                            <p class="w-40 font-bold">{record.name}</p>
                            <p class="w-32">{record.time}</p>
                            <p class="w-32">{record.date}</p>
                            <p>{record.location}</p>
                        </div>
                    ))}
                </div>
            ))}

            <h3 class="text-3xl font-black">Field</h3>
            {records.field.map((distance) => (
                <div class="flex flex-col border rounded p-4 gap-4">
                    <h4 class="text-xl font-black">{distance.name}</h4>
                    {distance.records.map((record) => (
                        <div class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                            <p class="w-40 font-bold">{record.name}</p>
                            <p class="w-32">{record.time}</p>
                            <p class="w-32">{record.date}</p>
                            <p>{record.location}</p>
                        </div>
                    ))}
                </div>
            ))}

            <h3 class="text-3xl font-black">Miscellaneous</h3>
            {records.misc.map((distance) => (
                <div class="flex flex-col border rounded p-4 gap-4">
                    <h4 class="text-xl font-black">{distance.name}</h4>
                    {distance.records.map((record) => (
                        <div class="flex flex-col lg:flex-row items-center text-center lg:text-left">
                            <p class="w-40 font-bold">{record.name}</p>
                            <p class="w-32">{record.time}</p>
                            <p class="w-32">{record.date}</p>
                            <p>{record.location}</p>
                        </div>
                    ))}
                </div>
            ))}
        </div>
    </section>
</DefaultLayout>
